@import url("https://fonts.googleapis.com/css2?family=Tangerine&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap");

:root {
  --bgcolor: #1c1d20;
  --textcolor: #e7e7e7;
  --sectext: #ffffff;
}

html,
body {
  height: 100%;
  color: var(--sectext);
  /* background-color: var(--bgcolor); */
  box-sizing: border-box;
  font-family: "Syne", sans-serif;
  margin: 0;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(247, 247, 247);
}

label {
  display: block;
}
h1 {
  font-family: "Syne", sans-serif;
}
h2 {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 83%;
}
h3 {
  font-family: "Syne", sans-serif;
  font-weight: 500;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
  letter-spacing: 0.03em;
}

input:disabled {
  color: #ccc;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}

p {
  font-size: 1rem;
  color: #333b42;
}
@media (min-width: 700px) {
  h2 {
    font-size: 2.7rem;
  }
  p {
    font-size: 1.2rem;
  }
}
